@import "../public/fonts/jetbrains/jetbrains.css";
@import "../public/fonts/inter/inter.css";
@import "../public/fontawesome/css/all.min.css";
@import "../node_modules/swiper/swiper-bundle.css";
@tailwind base;
@tailwind components;
html {
  @apply h-full;
}
body {
  @apply h-full bg-white text-black dark:bg-gray-900 dark:text-gray-50 antialiased;
}
.swiper-pagination-bullet{
  @apply bg-gray-400;
}
.swiper-pagination-bullet-active{
  @apply bg-gradient-to-br from-purple-500 via-indigo-500 to-indigo-500;
}
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
}

.react-flow__attribution {
  display: none;
}